{{title}}
<hr/>

<select name="estados" (change)="getCidades()"    
[(ngModel)]="cidadeSelected">
  <option *ngFor="let estado of estados" [selected]="cidadeSelected==estado.id"
          [value]="estado.id" >
    {{estado.estado}}
  </option>
</select>

<select name="cidades">
  <option *ngFor="let cidade of cidades" [value]="cidade.id">
    {{cidade.cidade}}
  </option>
</select>