<form #myForm="ngForm">
<div class="container">
  
  <!-- Input Name  -->
  <div class="row">
    
    <!-- Name -->
    <div class="form-group" [ngClass]="{'has-error':!name.valid && (name.dirty || name.touched)}">

      <label class="control-label" for="nome">Nome</label>

      <input type="text" class="form-control" id="nome" name="nome" forbiddenName="emilio"  
      [(ngModel)]="nome" #name="ngModel" #spy
      required minlength="4" />

      <!-- Errors -->
      <span class="help-block" *ngIf="name.errors && (name.dirty || name.touched)">
        
        Errors:
        <ul>

          <li *ngIf="name.errors.required">Field required</li>
          
          <li *ngIf="name.errors.minlength">Name must be at least 4 characters long</li>

          <li *ngIf="name.errors.forbiddenName">Name cannot be Emílio</li>

        </ul>

      </span>
    </div>
  
  </div>

  <!-- Input Email -->
  <div class="row">
    
    <div class="form-group" [class.has-error]="!email.valid && (email.touched || email.dirty)"><!-- [ngClass]="{'has-error':!email.valid && (email.dirty || email.touched)}" -->

      <label for="email" class="control-label">Email</label>

      <input type="text" class="form-control" id="email" name="email" 
      [(ngModel)]="emailModel" 
      #email="ngModel"
      email 
      required #spyEmail/>

       <!-- Errors -->
      <span class="help-block" *ngIf="email.errors && (email.dirty || email.touched)">
        
        Errors:
        <ul>

          <li *ngIf="email.errors.required">Field Email required</li>
          <li *ngIf="email.errors.email">Invalid e-mail</li>

        </ul>

      </span>

    </div>

    <button type="submit" class="btn btn-default" [disabled]="myForm.valid===false">Enviar</button>



  </div>



  <!-- <p>{{spy}}</p> -->
  <!-- <p>{{name.errors | json}}</p>   -->
  

  <p>{{email.valid}}</p>  
  <p>{{email.errors | json}}</p>  
  
  <p>{{spyEmail.className}}</p>  




  

</div>
</form>