<!-- This TAG do action in all fields surrounded -->
<fieldset [disabled]="isLoading"> 

<div class="row col-md-6">
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="cep">CEP</label>
				<input type="text" name="" class="form-control" id="cep" placeholder="000000-000" [(ngModel)]="cep.cep"/>
			</div>
		</div>		
		<div class="col-md-8">
			<button type="button" class="btn btn-primary" (click)="findCep(cep.cep)">Buscar</button>
		</div>		
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label for="logradouro">Logradouro</label>
				<input type="text" name="" class="form-control" id="logradouro" placeholder="Logradouro" [(ngModel)]="cep.logradouro"/>
			</div>
		</div>		
		<div class="col-md-4">
			<div class="form-group">
				<label for="numero">Número</label>
				<input type="text" name="" class="form-control" id="numero" placeholder="Numero" [(ngModel)]="cep.numero"/>
			</div>
		</div>		
	</div>

	<div class="form-group">
		<label for="complemento">Complemento</label>
		<input type="text" name="" class="form-control" id="complemento" placeholder="Complemento" [(ngModel)]="cep.complemento"/>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="cidade">Cidade</label>
				<input type="text" name="" class="form-control" id="cidade" placeholder="Cidade" [(ngModel)]="cep.cidade"/>
			</div>
		</div>		
		<div class="col-md-4">
			<div class="form-group">
				<label for="bairro">Bairro</label>
				<input type="text" name="" class="form-control" id="bairro" placeholder="Bairro" [(ngModel)]="cep.bairro"/>
			</div>
		</div>		
		<div class="col-md-4">
			<div class="form-group">
				<label for="Estado">Estado</label>
				<input type="text" name="" class="form-control" id="estado" placeholder="Estado" [(ngModel)]="cep.estado"/>
			</div>
		</div>		
	</div>




</div>

</fieldset>