<!--<button class="btn btn-primary" routerLink="/posts/create">-->
<!--[className] allow handle how typeScript language. concat with 'btn-' + some -->
<button [className]="'btn btn-' + color">
  <ng-content></ng-content>
</button>