<form (submit)="add($event);">
  
	<label for="name">Name</label>
	<input id='name' type="text" name="task[description]" [(ngModel)]="task.name">

	<br/>
  
	<label for="value">Value</label>
	<input id='value' type="text" name="task[value]" [(ngModel)]="task.value">

	<br/>
	
	<label for="value">Date</label>
	<input id='value' type="text" name="task[date]" [(ngModel)]="task.date_launch">

	<br/>

  	<button type="submit" (click)="add($event)">Adicionar na lista</button>

</form>