.col-xs-1 {
	/*background: red;*/
	/*border-right: 1px solid white;*/
}

.container-fluid .row{
	background: skyblue;color: white;font-weight: bold;
}

.container-fluid .titulo{
	padding: 6px 0px 0px 0px;
}