<div class="container">

	<div class="row">

		<div class="col-sm-12">
	
			<h1>{{ title }}</h1>

			<!-- <task-new [tasks]="tasks"></task-new> -->
			<!-- <task-list [tasks]="tasks"></task-list> -->

			<button routerLink="/tasks">Ver tarefas</button>
			<button routerLink="/task/new">Adicionar Tarefa</button>
		
		</div>

	</div>

	<div class='row'>
		<div class="col-sm-12">
			<router-outlet></router-outlet>
		</div>
	</div>

</div>