<div class="row">

    <h3>{{saveModeTitle}} post</h3>

    <!--Tern inside interpolation-->
    <!--<h3>{{!post.id ? 'Criar' : 'Editar'}} Post</h3>-->

    <!--with ng-template tag -->
    <!--<h3 *ngIf="!post.id; else h3_edit">Criar Post</h3>-->
    <!--<ng-template #h3_edit>-->
        <!--<h3>Editar Post</h3>-->
    <!--</ng-template>-->


    <form class="form-horizontal" (submit)="save()">

        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" [(ngModel)]="post.title">
        </div>

        <div class="form-group">
            <label for="body" class="control-label">Body</label>
            <textarea name="body" id="body" cols="30" rows="10" class="form-control" [(ngModel)]="post.body"></textarea>
        </div>

        <app-button type="submit" color="primary">{{saveModeTitle}}</app-button>
    </form>
</div>