{{loading}}
<div class="row" *ngIf="!isLoading">

    <!--<app-alert color='danger' [close]="false" [timeout]="4000">I will close in four seconds</app-alert>-->
    <div class="col-md-12" *ngIf="message">
        <app-alert [close]="true" [timeout]="4000">{{message}}</app-alert>
    </div>

    <h3>Listagem de Posts</h3>

    <app-button routerLink="/posts/create" color="default">
        <app-glyph icon="plus"></app-glyph> Criar
    </app-button>
    <app-button routerLink="/posts/create" color="primary">Criar</app-button>
    <app-button routerLink="/posts/create" color="danger">Criar</app-button>
    <app-button routerLink="/posts/create" color="success">Criar</app-button>


    <div class="col-xs-12">

        <!--TABLE LIST POSTS-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>userId</th>
                    <th>id</th>
                    <th>title</th>
                    <th>body</th>
                    <th>actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let post of posts; let i=index;">
                    <td>{{post.userId}}</td>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                    <td>

                        <!--Edit-->
                        <a [routerLink]="['/posts',post.id,'edit']">
                            <app-glyph icon="pencil"></app-glyph></a> |

                        <!--Delete-->
                        <!--<a href="javascript:void(0)" (click)="destroy(post.id,i)">-->
                        <a href="javascript:void(0)" (click)="openModal(post)">
                            <app-glyph icon="trash"></app-glyph>
                        </a>

                        <!--Obsolete Mode-->
                        <!--<span class="glyphicon glyphicon-pencil"
                              aria-hidden="true"
                              routerLink="/posts/{{post.id}}/edit"
                              style="cursor: pointer"
                        ></span>-->
                    </td>
                </tr>
            </tbody>
        </table>

        <!--MODAL COMPONENT-->
        <app-modal>

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation message</h4>
            </div>

            <div class="modal-body" *ngIf="postToDelete">
                <p>Do you really want to delete <strong>{{postToDelete.title}}</strong> ?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="destroyByModal(postToDelete)" #btnDelete>Delete</button>
            </div>


        </app-modal>


    </div>
</div>

